<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>添加活动</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- daterange picker -->
  <link rel="stylesheet" href="../../../resources/js/bower_components/bootstrap-daterangepicker/daterangepicker.css">
  <!--#include file="/Taiji/src/main/webapp/WEB-INF/view/common/link.html" -->

</head>
<body class="hold-transition skin-black sidebar-mini">
<div class="wrapper">

  <!--#include file="/Taiji/src/main/webapp/WEB-INF/view/common/header.html" -->
  
  <!--#include file="/Taiji/src/main/webapp/WEB-INF/view/common/sidebar.html" -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        添加活动
        <small>栏目</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">系统管理</a></li>
        <li class="active">添加活动</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box box-warning">
          <form class="form-horizontal clearfix">
            <div class="box-header with-border">
              <h3 class="box-title">填写活动内容表格</h3>
            </div>
            <div class="box-body">
                  <div class="form-group clearfix">
                    <label class="col-sm-3 control-label">活动名称：</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control require-text" placeholder="请输入...">
                    </div>
                  </div>

                  <div class="form-group clearfix">
                    <label class="col-sm-3 control-label">活动简介：</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control require-text" placeholder="请输入...">
                    </div>
                  </div>

                  <div class="form-group clearfix">
                    <label class="col-sm-3 control-label">承办单位：</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control require-text" placeholder="请输入...">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-3 control-label">活动时间：</label>
                    <div class="col-sm-6">
                      <div class="input-group">
                        <div class="input-group-addon">
                          <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="reservation">
                      </div>
                    </div>
                  </div>

                  <!-- <div class="form-group clearfix">
                    <label class="col-sm-3 control-label">保险内容要求：</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control require-text" placeholder="请输入...">
                    </div>
                  </div>

                  <div class="form-group clearfix">
                    <label class="col-sm-3 control-label">健康证明：</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control require-text" placeholder="请输入...">
                    </div>
                  </div>

                  <div class="form-group clearfix">
                    <label class="col-sm-3 control-label">责任书：</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control require-text" placeholder="请输入...">
                    </div>
                  </div> -->

                  <div class="form-group clearfix">
                      <label class="col-sm-3 control-label">联系电话：</label>
                      <div class="col-sm-3">
                        <input type="text" class="form-control require-text" placeholder="请输入..." name="telephone">
                      </div>
                      <label class="col-sm-1 control-label">联系QQ：</label>
                      <div class="col-sm-2">
                        <input type="text" class="form-control require-text" placeholder="请输入..." name="qq">
                      </div>
                  </div>

                  <div class="form-group clearfix">
                      <label class="col-sm-3 control-label">是否提供订餐：</label>
                      <div class="col-sm-3 radio">
                        <label>
                          <input type="radio" name="optionsRadios" value="1" checked="checked">
                          提供
                        </label>
                        <label>
                          <input type="radio" name="optionsRadios" value="0">
                          不提供
                        </label>
                      </div>
                      <label class="col-sm-1 control-label">是否提供住宿：</label>
                      <div class="col-sm-3 radio">
                        <label>
                          <input type="radio" name="optionsRadios1" value="1" checked="checked">
                          提供
                        </label>
                        <label>
                          <input type="radio" name="optionsRadios1" value="0">
                          不提供
                        </label>
                      </div>
                  </div>

                  <div class="form-group clearfix">
                      <label class="col-sm-3 control-label">活动具体内容：</label>
                      <div class="col-sm-6">
                        <textarea id="editor1" name="experience" rows="10" cols="80">
                          请在此输入...
                        </textarea>
                      </div>
                  </div>

            </div>
            <div class="box-footer">
              <p class="text-red tip none">信息不完整，请完整填写所需信息</p>
              <a href="list.html" class="btn btn-primary">返回活动列表</a>
              <input type="submit" class="btn bg-olive J-submit" value="添加活动">
            </div>
          </form>
        </div>
    </section>

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!--#include file="/Taiji/src/main/webapp/WEB-INF/view/common/footer.html" -->

  
</div>

<!--#include file="/Taiji/src/main/webapp/WEB-INF/view/common/script.html" -->
<!-- date-range-picker -->
<script src="../../../resources/js/bower_components/moment/min/moment-with-locales.js"></script>
<script src="../../../resources/js/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="../../../resources/js/bower_components/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="../../../resources/js/pages/common/verify.js"></script>
<script type="text/javascript">
  function init() {
    $('#example1').DataTable();
    CKEDITOR.replace('editor1');
          //定义locale汉化插件
          var locale = {
              "format": 'YYYY-MM-DD',
              "separator": " 到 ",
              "applyLabel": "确定",
              "cancelLabel": "取消",
              "fromLabel": "起始时间",
              "toLabel": "结束时间'",
              "customRangeLabel": "自定义",
              "weekLabel": "W",
              "daysOfWeek": ["日", "一", "二", "三", "四", "五", "六"],
              "monthNames": ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
              "firstDay": 1
          };
          //初始化显示当前时间
          $('#reservation span').html(moment().subtract('hours', 1).format('YYYY-MM-DD') + ' - ' + moment().format('YYYY-MM-DD'));
          //日期控件初始化
          $('#reservation').daterangepicker(
              {
                  'locale': locale,
                  //汉化按钮部分
                  startDate: moment().subtract(29, 'days'),
                  endDate: moment()
              },
              function (start, end) {
                  $('#daterange-btn span').html(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'));
              }
         );
      };
      $(document).ready(function() {
          init(); 
  });
</script>
</body>
</html>
