<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>活动列表</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!--#include file="/Taiji/src/main/webapp/WEB-INF/view/common/link.html" -->

</head>
<body class="hold-transition skin-black sidebar-mini">
<div class="wrapper">

  <!--#include file="/Taiji/src/main/webapp/WEB-INF/view/common/header.html" -->
  
  <!--#include file="/Taiji/src/main/webapp/WEB-INF/view/common/sidebar.html" -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        活动列表
        <small>栏目</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">活动管理</a></li>
        <li class="active">活动列表</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box box-warning">
            <div class="box-header">
              <h3 class="box-title">账号管理列表</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                      <th>序号</th>
                      <th>活动名称</th>
                      <th>活动简介</th>
                      <th>承办单位</th>
                      <th>活动时间</th>
                      <th>费用/人</th>
                      <th>审核状态</th>
                      <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-id="1">
                        <td>1</td>
                        <td>13837200544</td>
                        <td>经理</td>
                        <td>产品部</td>
                        <td>单位会员</td>
                        <td>未审核</td>
                        <td class="status-text">未审核</td>
                        <td>
                            <a href="detail.html" class="btn bg-blue">查看活动详情</a>
                            <a href="update.html" class="btn bg-light-blue">修改活动信息</a>
                            <a href="check.html" class="btn bg-teal">审核参报人员</a>
                            <button type="button" class="btn bg-olive-active pass" data-num="1">审核通过该活动</button>
                            <button type="button" class="btn bg-orange repulse" data-num="1">审核不通过该活动</button>
                            <button type="button" class="btn bg-red delete" data-num="1">删除该活动</button>
                        </td>
                    </tr>
                    <tr data-id="2">
                        <td>2</td>
                        <td>13837200544</td>
                        <td>经理</td>
                        <td>产品部</td>
                        <td>单位会员</td>
                        <td>通过</td>
                        <td class="status-text">通过</td>
                        <td>
                            <button type="button" class="btn bg-olive-active pass" data-num="2" data-toggle="modal" data-target="#upload">上传证书</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                      <th>序号</th>
                      <th>活动名称</th>
                      <th>活动简介</th>
                      <th>承办单位</th>
                      <th>活动时间</th>
                      <th>费用/人</th>
                      <th>审核状态</th>
                      <th>操作</th>
                    </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!--#include file="/Taiji/src/main/webapp/WEB-INF/view/common/footer.html" -->
</div>
<!-- ./wrapper -->
<div class="modal fade" id="upload">
  <div class="modal-dialog">
    <form class="modal-content" action="">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">上传文件：</h4>
      </div>
      <div class="modal-body">
              <div class="form-group clearfix">
                <label class="col-sm-3 control-label">选择文件：</label>
                    <input type="file" class="form-control">
              </div>
              <input type="hidden" name="applicationId" id="applicationId">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">关闭</button>
        <button type="submit" class="btn btn-default sub-grade">确认提交</button>
      </div>
    </form>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
  <!--#include file="/Taiji/src/main/webapp/WEB-INF/view/common/script.html" -->
  <script src="../../../resources/js/pages/common/verify.js"></script>
  <script src="../../../resources/js/pages/activity/list.js"></script>
<!-- page script -->
<script>
  $(function () {
    $('#example1').DataTable()
  })
</script>
</body>
</html>
