<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>修改密码</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!--#include file="/Taiji/src/main/webapp/WEB-INF/view/common/link.html" -->
</head>
<body class="hold-transition register-page">
<div class="register-box">
  <div class="register-logo">
    <a href="javascript:;">绩效管理系统密码管理</a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">请输入原密码</p>

    <form action="login.html" method="get">
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="原密码">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <p class="login-box-msg">请在下面输入新密码</p>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="新密码">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="重复新密码">
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
        </div>
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">修改</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <a href="login.html" class="text-center">已经有账号?这里登录!</a>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->

<!-- jQuery 3 -->
<script src="../../../resources/js/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="../../../resources/js/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
