<header class="main-header">
    <!-- Logo -->
    <a href="http://www.appraisal.com/ssm-check/Home/src/main/webapp/WEB-INF/views/index.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini">首页</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">管理系统首页</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-user fa-2x user-image"></i>
              <span class="hidden-xs">您好,管理员</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <p>
                  欢迎来到管理系统<br>
                  您是第20位用户
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-6 text-center">
                    <a href="#">目前所在部门：产品部</a>
                  </div>
                  <div class="col-xs-6 text-center">
                    <a href="#">目前所任职位：副经理</a>
                  </div>
                </div>
                <!-- /.row --> 
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="http://www.taiji.com/Taiji/src/main/webapp/WEB-INF/view/login/update-password.html" class="btn btn-default btn-flat">修改密码</a>
                </div>
                <div class="pull-right">
                  <a href="http://www.taiji.com/Taiji/src/main/webapp/WEB-INF/view/login/login.html" class="btn btn-default btn-flat">退出登录</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>