  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
           <i class="fa fa-bookmark-o fa-3x" style="color:#fff"></i>
        </div>
        <div class="pull-left info">
          <p>您好，管理员</p>
          <a href="#" id="nowTime"></a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="搜索...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">考核系统栏目菜单</li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>会员管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="http://www.taiji.com/Taiji/src/main/webapp/WEB-INF/view/vip/account-list.html"><i class="fa fa-circle-o"></i>账号管理</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-share"></i> <span>单位管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="http://www.taiji.com/Taiji/src/main/webapp/WEB-INF/view/company/list.html"><i class="fa fa-circle-o"></i>单位列表</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-files-o"></i> <span>活动管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="http://www.taiji.com/Taiji/src/main/webapp/WEB-INF/view/activity/list.html"><i class="fa fa-circle-o"></i>活动列表</a></li>
            <li><a href="http://www.taiji.com/Taiji/src/main/webapp/WEB-INF/view/activity/vip-join.html"><i class="fa fa-circle-o"></i>单位管理员统一报名活动</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span>我的活动</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="http://www.taiji.com/Taiji/src/main/webapp/WEB-INF/view/personnel/activity-list.html"><i class="fa fa-circle-o"></i>报名活动</a></li>
            <li><a href="http://www.taiji.com/Taiji/src/main/webapp/WEB-INF/view/personnel/my-list.html"><i class="fa fa-circle-o"></i>已经参与活动</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-search"></i>
            <span>活动综合查询</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="http://www.taiji.com/Taiji/src/main/webapp/WEB-INF/view/query/list.html"><i class="fa fa-circle-o"></i> 活动列表</a></li>
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>